body{
	margin:0px;
	padding: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500; 
}
.article{
	width: 40%;
	border-top: 2px solid #ddd;
	margin-bottom: 30px;
}
.article a{
	text-decoration: none;
	color: #000;
}
.article_inner{
    display: block;
    width: 100%;
    position: relative;
}
.article_img{
	width: 35%;
    display: inline-block;
}
.article_img img{
	width: 100%;
	max-width: 100%;
}
.article_content{
    width: 60%;
    display: inline-flex;
    vertical-align: top;
    margin-left: 16px;
}
.article_content h5{
    margin: 9px 0;
    font-size: 20px;
}

